@import "./reset.css";

:root {
  --text-color: #1a1a1a;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.copyright-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 16px;
  column-gap: 4px;
  user-select: none;
}

.copyright-wrapper p,
a {
  color: var(--text-color);
}
